colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
contourpy==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.12"
dagma==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
filelock==3.12.3 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.42.1 ; python_version >= "3.10" and python_version < "3.12"
igraph==0.10.6 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.3.2 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.7.2 ; python_version >= "3.10" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.12"
notears @ git+https://github.com/xunzheng/notears.git@HEAD ; python_version >= "3.10" and python_version < "3.12"
numpy==1.25.2 ; python_version >= "3.10" and python_version < "3.12"
opt-einsum==3.3.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.0.3 ; python_version >= "3.10" and python_version < "3.12"
patsy==0.5.3 ; python_version >= "3.10" and python_version < "3.12"
pgmpy==0.1.23 ; python_version >= "3.10" and python_version < "3.12"
pillow==10.0.0 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
python-igraph==0.10.6 ; python_version >= "3.10" and python_version < "3.12"
pytz==2023.3 ; python_version >= "3.10" and python_version < "3.12"
scikit-learn==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.11.2 ; python_version >= "3.10" and python_version < "3.12"
seaborn==0.12.2 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
statsmodels==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.12"
texttable==1.6.7 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.2.0 ; python_version >= "3.10" and python_version < "3.12"
torch==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "3.12"
